<html>
  <head>
    <title>Multiple Apple Snake Game with Score</title>
    <style>
      body {
        height: 100vh;
        margin: 0;
        display: flex;
        flex-direction: column; /* Arrange items vertically */
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
      }

      #score {
        font-size: 1.5em;
        margin-bottom: 20px;
      }

      #gameCanvas {
        border: 2px solid #333;
        width: 850px;
        height: 640px;
      }
    </style>
  </head>
  <body>
    <div id="score">Score: 0</div>
    <canvas id="gameCanvas" width="640" height="640"></canvas>
    <script src="{{ '/assets/js/snake.js' | asset_url }}" defer></script>
  </body>
</html>
